<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.doc5.mapper.CartMapper">

  <insert id="doCartSave">
  </insert>

  <insert id="doCartOptionSave">
  </insert>
  
  <select id="doCartList" parameterType="CartVO" resultType="CartVO">
  SELECT c.*,cgo.* 
    FROM doc5_cart c
  LEFT JOIN doc5_cart_goods_option cgo
      ON c.seq = cgo.c_seq
   WHERE c.user_id = #{userId}
  </select>
  
  <select id="doCartOptionList" parameterType="CartOptionVO" resultType="CartOptionVO">
  SELECT
    seq,
    c_seq,
    goods_no,
    goods_type,
    option_name,
    option_price
  FROM
    doc5_cart_goods_option
  WHERE c_seq = #{cSeq}
  </select>  
    
  <update id="doCartUpdate">
  </update>
  
  <delete id="doCartDelete">
  </delete>
  
  <delete id="cartDeleteAll">
  </delete>
  
  
</mapper>