<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.doc5.mapper.UserMapper">

  
<!-- 컬럼 -> Value Object와 매핑 -->
  <resultMap type="UserVO" id="userMap">
  <id column="user_id" property="userId"/>
  <result column="name" property="name"/>
  <result column="password" property="password"/>
  <result column="phone" property="phone"/>
  <result column="grade" property="grade"/>
  <result column="reg_dt" property="regDt"/>
  <result column="mod_dt" property="modDt"/>  
  <result column="privacy_dt" property="privacyDt"/>
  </resultMap>

  <insert id="saveAll">
<![CDATA[       
INSERT INTO doc5_member                              
SELECT  'test'||level||'@doc5.com' AS user_id,                           
        '4321a' AS password,      
        '이상무'||level AS name,                     
        '010-0000-0000' AS phone,
        MOD(level,3)+1 AS grade,                
        SYSDATE - level AS reg_dt,
        NULL,
        SYSDATE   
  FROM dual                                     
CONNECT BY LEVEL <=1002      
]]>                   
  </insert>

  <sql id="memberWhere">
    <where>
	  <choose>
	    <when test="searchDiv != null and searchDiv == '10'">
	      user_id LIKE #{searchWord}||'%'  
	    </when>
	    <when test="searchDiv != null and searchDiv == '20'">
	      name LIKE #{searchWord}||'%'  
	    </when>   
	    <when test="searchDiv != null and searchDiv == '30'">
	      (user_id LIKE #{searchWord}||'%' 
	          OR name LIKE #{searchWord}||'%')
	    </when>
	    <otherwise>
	    </otherwise>                  
	  </choose>
	  </where>
  </sql>
  
  <select id="doRetrieve" parameterType="com.project.doc5.cmn.DTO" resultType="UserVO">
SELECT A.*, B.*                                                         
 FROM (                                                                
       SELECT tt1.rnum AS no,                                          
              tt1.user_id,                                             
              tt1.name,                                                
              tt1.password,                                            
              tt1.phone,                                               
              DECODE(tt1.grade,1,'BASIC', 2, 'SILVER', 3, 'GOLD','UNKNOWN') AS grade,                                              
              TO_CHAR(tt1.reg_dt,'YYYY/MM/DD') reg_dt                  
         FROM (                                                        
               SELECT ROWNUM AS rnum,t1.*                              
                 FROM (                                                
                       SELECT *                                        
                         FROM doc5_member                                   
                       --검색조건
                       -- searchDiv == 10 회원ID,
                       -- searchDiv == 20 이름,
                       -- searchDiv == 30 이메일,
                        <include refid="memberWhere"></include>
                        ORDER BY reg_dt DESC                            
               )t1    
               <![CDATA[                                                  
               WHERE ROWNUM<=#{pageSize} * (#{pageNo} - 1) + #{pageSize}
                                                                       
       )tt1                                                            
       WHERE rnum >=#{pageSize} * (#{pageNo} - 1) + 1
       ]]>
 ) A CROSS JOIN (                                                      
       SELECT COUNT(*) total_cnt                                       
         FROM doc5_member                                                   
        <include refid="memberWhere"></include>                                           
 ) B                                                                   
  </select>
  
  <select id="getAll" resultMap="userMap">
  SELECT                                                
      user_id,                                          
      name,                                             
      password,                                         
      phone,                                            
      DECODE(grade,1,'BASIC', 2, 'SILVER', 3, 'GOLD','UNKNOWN') AS grade,                                      
      TO_CHAR(reg_dt,'YYYY/MM/DD HH24:MI:SS')  AS reg_dt
  FROM                                                  
      doc5_member                                            
  ORDER BY reg_dt                                       
  </select>
  
  
  <delete id="doDelete" parameterType="UserVO">
  DELETE FROM doc5_member
  WHERE user_id = #{userId} 
  </delete>
  
  <update id="doUpdate">
  UPDATE doc5_member          
  SET                    
      name      = #{name},
      password  = #{password},
      phone     = #{phone},
      grade     = DECODE(#{grade},'BASIC',1
                                 ,'SILVER',2
                                 ,'GOLD',3),
      reg_dt    = SYSDATE
  WHERE                  
      user_id = #{userId}    
  </update>
  
  
  <select id="doSelectOne" parameterType="UserVO" resultType="UserVO">
   SELECT                                                 
     user_id,                                           
     name,                                              
     password,                                          
     phone,                                             
     DECODE(grade,1,'BASIC', 2, 'SILVER', 3, 'GOLD') grade,                                             
     TO_CHAR(reg_dt,'YYYY/MM/DD HH24:MI:SS')  AS reg_dt 
    FROM                                                   
     doc5_member
   WHERE user_id = #{userId}
  </select>

  <!-- MyBatis에서 SQL 실행 결과가 "정수 1건"일 때 사용하는 결과 매핑 설정 -->
  <select id="getCount" resultType="java.lang.Integer">
    SELECT COUNT(*) AS CNT FROM doc5_member
  </select>
  
  <delete id="deleteAll">
    DELETE FROM doc5_member 
  </delete>
  
  <insert id="doSave" parameterType="UserVO">
  INSERT INTO doc5_member (
    user_id,
    name,
    password,
    phone,
    grade,
    reg_dt,
    privacy_dt
  ) VALUES (
    #{userId},
    #{name},
    #{password},
    #{phone},
    DECODE(#{grade},'BASIC',1
                   ,'SILVER',2
                   ,'GOLD',3),
    SYSDATE,
    SYSDATE
  )
  </insert>
  
  <select id="doUserLogin">
SELECT                                                 
     user_id,                                           
     name,                                              
     password,                                          
     phone,                                             
     DECODE(grade,1,'BASIC', 2, 'SILVER', 3, 'GOLD') grade,                                             
     TO_CHAR(reg_dt,'YYYY/MM/DD HH24:MI:SS')  AS reg_dt,
     TO_CHAR(privacy_dt,'YYYY/MM/DD HH24:MI:SS')  AS privacy_dt 
    FROM                                                   
     doc5_member
   WHERE user_id = #{userId} AND password = #{password}
  </select>
</mapper>